@font-face {
    font-family: 'GoogleSans';
    src: url(Google-Sans-Fonts/GoogleSans-Bold.ttf);
}
@font-face {
    font-family: 'GoogleSans';
    src: url(Google-Sans-Fonts/GoogleSans-BoldItalic.ttf);
}
@font-face {
    font-family: 'GoogleSans';
    src: url(Google-Sans-Fonts/GoogleSans-Italic.ttf);
}
@font-face {
    font-family: 'GoogleSans';
    src: url(Google-Sans-Fonts/GoogleSans-Medium.ttf);
}
@font-face {
    font-family: 'GoogleSans';
    src: url(Google-Sans-Fonts/GoogleSans-MediumItalic.ttf);
}
@font-face {
    font-family: 'GoogleSans';
    src: url(Google-Sans-Fonts/GoogleSans-Regular.ttf);
}
