.root-container {
    top: 0;
    left: 0;
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: -1;
}

.backdrop {
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
}

.screen-view {
    border: 1px solid red;
    display: block;
    width: auto;
}